<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <section class="section section-hero bg-dark text-white">
      <h1 class="text-white">Heading1</h1>
      <div class="flex space-beteween">
        <div class="col-6">
          <img src="./b1.jpg" alt="" class="rounded-full" />
        </div>
        <div class="col-6">
          <h2>Heading2</h2>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur
            veritatis minima voluptatum sed ullam sint dolore repudiandae
            exercitationem qui voluptates.
          </p>
        </div>
      </div>
    </section>
    <section class="section section-about bg-red text-white">
      <h1>About Me</h1>
    </section>
    <section class="section section-hero bg-dark text-white">
      <h1 class="text-white">Heading1</h1>
      <div class="flex space-beteween">
        <div class="col-6">
          <h2 class="text-center text-red section-heading">Heading2</h2>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur
            veritatis minima voluptatum sed ullam sint dolore repudiandae
            exercitationem qui voluptates.
          </p>
        </div>
        <div class="col-6">
          <img src="./b1.jpg" alt="" class="rounded-sm" />
        </div>
      </div>
    </section>
  </body>
</html>
